option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: new_todo.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: static
  aws:elasticbeanstalk:commands:
    01_collectstatic:
      command: "python manage.py collectstatic --noinput"
      leader_only: true